// Variable Overrides 

html, body
{
    height: 100vh;
}

.node {
    stroke: #000;
    stroke-width: 1px;
}

.link {
    stroke: #000;
    stroke-width: 3px;
    opacity: 10%;
}

.keyvalue {
    stroke: #000;
}

.rectangle {
    opacity: 10%;
}

.table {
    font-size: xx-small;
}

svg {
    flex-grow: 1;
    width: 100%;
    height: 70vh;
  }

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";