// Variable Overrides 

.node {
    stroke: #000;
    stroke-width: 1px;
}

.link {
    stroke: #000;
    stroke-width: 3px;
    opacity: 10%;
}

.keyvalue {
    stroke: #000;
}

.rectangle {
    opacity: 10%;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";